@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
* {
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  color: white;
}

h1 {
  font-family: "oswald", arial;
  font-weight: 700 !important;
  letter-spacing: 3px;
  font-size: 2.5rem;
}
h2 {
  font-family: "oswald", arial;
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: 3px;
}

h3,
h4 {
  font-family: "oswald", arial;
  font-weight: 400;
  font-size: 1.2rem;
  letter-spacing: 2px;
}
/* NAVBAR */
.navbar .navbar-brand {
  font-weight: 700;
  letter-spacing: 0.3rem;
  z-index: 21;
  font-size: 24px;
  line-height: 33px;
}

.navbar-nav.mx-auto > a,
#navbarNavAltMarkup > div:nth-child(2) > a:nth-child(n) {
  letter-spacing: 0.1rem;
  font-weight: 700 !important;
  font-size: 12px;
}
.navList {
  justify-content: space-between;
}
/* Center navigation link in small screen */
.navbar-nav > a {
  display: block;
  margin: auto;
}

/* BUTTON */
.btn {
  padding: 8px 55.58px;
  font-weight: 700;
}
/* EMAIL INPUT */
.emailAddress {
  padding: 8px;
  background-color: rgba(164, 162, 162, 0.25);
  border-radius: 5px;
  border: none;
  box-shadow: rgba(255, 251, 251, 0.191) 0px 1px 4px;
  margin-right: 1rem;
}
/*------------------------------------------- 
          FIRST SECTION
-------------------------------------------*/
.main {
  background: url("/assets/home/main-bg.jpg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  position: relative;
}
/* make gradient background */
.main::after {
  content: "";
  background: radial-gradient(
    189.96% 61.18% at 50% 38.82%,
    rgba(255, 181, 72, 0) 0%,
    rgba(52, 44, 29, 0.40319) 73.22%,
    #08090a 99.74%
  );
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 8;
}
.jumbotron.jumbotron-fluid.main .container {
  z-index: 11;
}
.container .lead {
  margin: 3.58rem 0 3.58rem 0;
}
.container.storyArrow {
  margin-left: -1rem;
  position: absolute;
  bottom: 0;
}
#theStory {
  margin-bottom: -0.5rem;
  font-size: 12px;
  font-weight: 700;
}
/*------------------------------------------- 
          SECOND SECTION
-------------------------------------------*/
.theGame {
  background: url(/assets/home/the-games-bg.jpg);
  height: 100vh;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  color: white;
  margin-top: -2rem;
}
.container-fluid.theGame .container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/*------------------------------------------- 
          THIRD SECTION
-------------------------------------------*/
.features {
  background-color: #000;
  height: auto;
  padding: 2rem;
}
.secondPart h2 {
  padding-bottom: 4.4rem;
}
/* Make vertical stepper */
.step {
  position: relative;
  min-height: 1rem;
  color: white;
}
.title {
  font-family: "oswald", arial;
  font-size: 1.5rem;
  letter-spacing: 2px;
  line-height: 1.7rem;
  font-weight: 400;
  color: #ffb548;
  padding-bottom: 0.8rem;
}
.caption {
  font-family: "open Sans", arial;
  font-size: 1.18rem;
  letter-spacing: 2px;
  line-height: 1.375rem;
  font-weight: 400;
  padding-bottom: 1.375rem;
}

.step + .step {
  margin-top: 1.5rem;
}
.step > div:first-child {
  position: static;
  height: 0;
}
.step > div:not(:first-child) {
  margin-left: 1.5rem;
  padding-left: 1rem;
}
.circle {
  background: white;
  position: relative;
  width: 1.2rem;
  height: 1.2rem;
  line-height: 1.2rem;
  border-radius: 100%;
  color: #fff;
  text-align: center;
  box-shadow: 0 0 0 3px #fff;
}
.step:after {
  content: " ";
  position: absolute;
  top: 1.4rem;
  left: 0.6rem;
  display: block;
  height: 100%;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 15;
}
.step:last-child::after {
  display: none;
}
/*------------------------------------------- 
          FOURTH SECTION
-------------------------------------------*/
.requirement {
  display: block;
  background-color: black;
  height: auto;
  position: relative;
  padding-left: 10%;
  height: auto;
  padding-bottom: 1.5rem;
}
.requirement .innerContainer {
  display: block;
}
.innerContainer .title {
  color: white;
}
.container-fluid.requirement
  > div.innerContainer
  > div:nth-child(n)
  > div:nth-child(n)
  > p.title1 {
  margin-bottom: -0.1rem;
}
.column .title1 {
  font-family: "oswald" !important, sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 2px;
  color: #ffb548;
}

.container-fluid.requirement .innerContainer {
  max-width: 573px;
}
.innerContainer .column {
  padding: 0.5rem 0 1.2rem 1rem;
}

/*------------------------------------------- 
          FIFTH SECTION - TOP SCORE
-------------------------------------------*/
.topScore {
  height: auto;
  background: url(/assets/home/top-score-bg.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2rem 0;
}
.container-fluid.topScore .container.leftSide {
  padding-right: 6rem;
}
body > div.container-fluid.topScore > div > div.container.rightSide > div {
  background-color: rgba(255, 255, 255, 0.08);
}
#evan,
#jada,
#aaron {
  margin-bottom: 1.3rem;
  border-radius: 10px;
  padding: 0.5rem;
  box-shadow: rgba(127, 126, 126, 0.283) 0px 3px 8px;
}
#name > h5 {
  font-family: "oswald", Arial;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.75rem;
  margin-bottom: 2px;
  color: #ffb548;
  letter-spacing: 2px;
}
#name > h6 {
  font-size: 1.125rem;
  font-weight: 400;
  opacity: 0.5;
}
#cardHead {
  display: flex;
}

.cardBody > p {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 1.125rem;
  font-weight: 400;
}

.cardFoot > p {
  font-size: 0.875rem;
  font-weight: 400;
  opacity: 0.5;
  margin-bottom: 0;
}
#imgProfile {
  width: 4rem;
  margin-right: 1.5rem;
  filter: drop-shadow(10px 2px orange);
}
#twitter {
  margin-left: auto;
  position: relative;
  top: -1.2rem;
}
#leftSide1 > button {
  margin-top: 2rem;
}
/*------------------------------------------- 
          SIXTH SECTION - NEWSLETTER
-------------------------------------------*/

.container-fuid.newsletter {
  background-color: black;
  height: auto;
  padding: 1.2rem;
}

.innerContainer6 .rightSide {
  flex: 1.5;
}
.innerContainer6 .secondPart {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-bottom: 1rem;
}
.innerContainer6 .secondPart > a {
  text-decoration: none;
  color: white;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
.innerContainer6 .secondPart > a:not(:last-child) {
  margin-right: 2rem;
}
.innerContainer6 .thirdPart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1rem;
  border-top: 1px solid rgb(64, 61, 61);
}
.thirdPart .rightSide {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: white;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
.innerContainer6 .thirdPart .rightSide > p:not(:last-child) {
  margin-right: 2rem;
}
.thirdPart .leftSide {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  opacity: 0.5;
}
/* RESPONSIVE DESIGN FOR DESKTOP*/
@media (min-width: 992px) {
  h1 {
    font-size: 4.5rem !important;
  }
  h2 {
    font-size: 3.5rem;
  }

  .main {
    margin-top: -5rem;
  }
  /* NAVBAR */
  .navbar .navbar-brand {
    color: white !important;
  }
  .navbar {
    position: relative;
    color: white;
  }
  .navbar::after {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 9;
  }
  .navbar-nav > a {
    text-transform: uppercase;
    position: relative;
    z-index: 20;
    color: rgb(234, 230, 230) !important;
    margin-right: 1.4rem;
  }
  #navbarNavAltMarkup > div:nth-child(2) > a:nth-child(n) {
    position: relative;
    z-index: 20;
    color: rgb(234, 230, 230);
    font-weight: 400;
    margin-right: 1.4rem;
  }
  .navbar-nav.mx-auto > .nav-link:hover {
    -webkit-mask-image: linear-gradient(
      -75deg,
      rgba(0, 0, 0, 0.6) 30%,
      #000 50%,
      rgba(0, 0, 0, 0.6) 70%
    );
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
  }

  #navbarNavAltMarkup > div:nth-child(2) > a:nth-child(n):hover {
    -webkit-mask-image: linear-gradient(
      -75deg,
      rgba(0, 0, 0, 0.6) 30%,
      #000 50%,
      rgba(0, 0, 0, 0.6) 70%
    );
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
  }
  @-webkit-keyframes shine {
    from {
      -webkit-mask-position: 150%;
    }

    to {
      -webkit-mask-position: -50%;
    }
  }

  /* FEATURES PAGE */
  #text {
    width: 35%;
  }
  .features {
    background: url(/assets/home/features.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 100vh;
  }
  .imgFeature img {
    display: none;
  }

  /* SYSTEM REQUIREMENTS */
  .requirement {
    height: 100vh;
    background-repeat: no-repeat;
    background: url(/assets/home/requirements.png);
    background-size: cover;
    background-position: center;
  }
  .requirementImg {
    display: none;
  }
  .container-fluid.requirement::after {
    content: "";
    display: block;
    background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0)
    );
    height: 100%;
    width: 100%;
    bottom: 0;
    position: absolute;
    left: 0;
  }
  .container-fluid.requirement .mainTitle,
  .container-fluid.requirement .innerContainer {
    position: relative;
    z-index: 1;
  }

  .innerContainer .firstRow {
    display: flex;
  }
  .firstRow .column,
  .secondRow .column {
    flex: 1;
  }
  .innerContainer .secondRow {
    display: flex;
  }
  .mainTitle.text-center {
    top: 10%;
  }
  .container-fluid.requirement .innerContainer {
    top: 50%;
    transform: translateY(-50%);
  }
  .innerContainer .firstRow,
  .innerContainer .secondRow,
  .innerContainer .thirdRow {
    border-bottom: 1px solid rgba(97, 97, 97, 0.5);
    border-right: 1px solid rgba(97, 97, 97, 0.5);
  }
  .firstRow > .column {
    border-top: 1px solid rgba(97, 97, 97, 0.5);
    border-left: 1px solid rgba(97, 97, 97, 0.5);
  }
  .secondRow > .column {
    border-left: 1px solid rgba(97, 97, 97, 0.5);
  }
  .container-fluid.requirement .innerContainer .thirdRow {
    border-left: 1px solid rgba(97, 97, 97, 0.5);
  }
  /* TOP SCORE */
  .topScore {
    height: 100vh;
  }
  .container-fluid.topScore > div {
    display: flex;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  #leftSide1 {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  #rightSide {
    display: flex;
    flex-direction: column;
    flex-shrink: 1.4;
    align-items: center;
  }
  #jada {
    right: 30%;
  }
  #aaron {
    right: 10%;
  }
  /* NEWSLETTER */
  .container-fuid.newsletter {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .innerContainer6 .firstPart {
    display: flex;
    align-items: center;
    flex-direction: row;
    max-width: 900px;
  }
  .innerContainer6 {
    display: flex;
    flex-direction: column;
  }

  .firstPart .leftSide {
    flex: 1;
    margin-right: 2rem;
    position: relative;
  }
  .container-fuid.newsletter > div > div.firstPart > div.leftSide::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(
      45.43% 53.19% at 50% 50%,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0) 46.15%,
      #000000 99.74%
    );
    left: 0;
  }
  .emailAddress {
    width: 300px;
  }
}
/* MEDIUM DEVICE */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* features */
  .innerContainer .column {
    border: 1px solid whitesmoke;
  }
  /* top score */
  .container.card {
    max-width: 500px;
  }
  .container-fluid.topScore .container.leftSide {
    padding-bottom: 2rem;
  }
  /* newsletter */
  .container-fuid.newsletter > div > div.firstPart > div.leftSide {
    display: none;
  }
  .innerContainer6 {
    display: block;
  }
}
/* SMALL DEVICE */
@media (max-width: 767.98px) {
  .emailAddress {
    max-width: 320px;
  }
  /* NEWSLETTER */
  .container-fuid.newsletter > div > div.firstPart > div.leftSide {
    display: none;
  }
  .innerContainer6 .secondPart > a:nth-child(-n + 4) {
    display: none;
  }
  .innerContainer6 .thirdPart {
    display: none;
  }
  .innerContainer6 .secondPart {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: 1px solid rgb(64, 61, 61);
  }
}
